<h1>Users</h1>
<table>
	<tr>
		<th>Email</th>
		<th>Read</th>
		<th>Write</th>
		<th>Delete<th>
		<th>change password<th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<th><%=user.email%></th>
		<th><%=user.read%></th>
		<th><%=user.write%></th>
		<th><%=user.remove%><th>
		<th>
			<%= link_to 'Edit Password', 
				edit_path(user), 
				remote: true,
				'data-toggle': 'modal', 
				'data-target': '#modal-window'
			%>
		<th>
	</tr>
	<% end %>
</table>

<!-- Modal -->
<div class="modal fade " id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
</div>